<section class="comunidade">
  <div class="layout">
    <div class="background" [ngStyle]="{ background: novoPost.background }">
      <div class="editor">
        <div class="terminal-dots">
          <div class="red"></div>
          <div class="yellow"></div>
          <div class="green"></div>
        </div>
        <textarea spellcheck="false" [disabled]="true">{{
          novoPost.code
        }}</textarea>
      </div>
    </div>
    <div class="box">
      <div class="informacoes">
        <h2>{{ novoPost.title }}</h2>
        <p>{{ novoPost.description }}</p>
        <div class="flex-extra">
          <div class="icons">
            <i class="fa fa-comment" aria-hidden="true"></i
            ><span>{{ novoPost.comments }}</span>
            <i class="fa fa-heart" aria-hidden="true"></i
            ><span>{{ novoPost.likes }}</span>
          </div>
          <app-user
            userName="{{ novoPost.userName }}"
            avatarUrl="{{ novoPost.avatarUrl }}"
          ></app-user>
        </div>
      </div>
    </div>
  </div>
</section>
