<section class="comunidade">
  <div class="layout" *ngFor="let postagem of postagens">
    <div class="background" [ngStyle]="{ background: postagem.background }">
      <div class="editor">
        <div class="terminal-dots">
          <div class="red"></div>
          <div class="yellow"></div>
          <div class="green"></div>
        </div>
        <textarea spellcheck="false" [disabled]="true">{{
          postagem.code
        }}</textarea>
      </div>
    </div>
    <div class="box">
      <div class="informacoes">
        <h2>{{ postagem.title }}</h2>
        <p>{{ postagem.description }}</p>
        <div class="flex-extra">
          <div class="icons">
            <i class="fa fa-comment" aria-hidden="true"></i
            ><span>{{ postagem.comments }}</span>
            <i class="fa fa-heart" aria-hidden="true"></i
            ><span>{{ postagem.likes }}</span>
          </div>
          <app-user
            userName="{{ postagem.userName }}"
            avatarUrl="{{ postagem.avatarUrl }}"
          ></app-user>
        </div>
      </div>
    </div>
  </div>
</section>
