<header>
  <nav class="navbar">
    <div class="logo">
      <a><img src="../../../assets/images/logo.png" /></a>
    </div>
    <div class="search">
      <input type="text" placeholder="Busque por algo" />
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="user">
      <app-user></app-user>
      <i
        id="menu-button"
        class="fa fa-bars"
        aria-hidden="true"
        (click)="menu.abreMenu(); trocaIcone()"
      >
      </i>
    </div>
    <app-menu-mobile #menu></app-menu-mobile>
  </nav>
</header>
