<section>
  <form>
    <div class="layout">
      <div class="background">
        <div class="editor">
          <div class="terminal-dots">
            <div class="red"></div>
            <div class="yellow"></div>
            <div class="green"></div>
          </div>
          <textarea spellcheck="false">{{ editorPlaceholder }}</textarea>
        </div>
      </div>
      <button type="#">Visualizar com highlight</button>
    </div>
    <div class="form">
      <section class="inputs">
        <p>Seu projeto</p>
        <input placeholder="Nome do seu projeto" />
        <textarea placeholder="Descrição do seu projeto"></textarea>

        <p>Personalização</p>
        <div class="personalizacao-flex">
          <select>
            <option value="JavaScript">JavaScript</option>
            <option value="CSS">CSS</option>
            <option value="TypeScript">TypeScript</option>
            <option value="HTML">HTML</option>
          </select>
          <input type="color" value="#6bd1ff" />
        </div>
        <button type="#">Salvar projeto</button>
      </section>
    </div>
  </form>
</section>
