form {
  display: flex;
  flex-wrap: wrap;

  .layout {
    width: 78%;
    text-align: center;

    .background {
      width: 95%;
      margin: auto;
      border-radius: 8px;
      height: 366px;
      display: flex;

      .editor {
        border-radius: 8px;
        margin: 32px auto;
        vertical-align: middle;
        width: 90%;
        background-color: #141414;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
        padding: 16px;

        .terminal-dots {
          display: flex;
          background-color: #141414;
          border-radius: 8px;

          div {
            width: 12px;
            height: 12px;
            margin-right: 8px;
            border-radius: 8px;
          }

          .red {
            background: #ff5f56;
          }

          .yellow {
            background: #ffbd2e;
          }

          .green {
            background: #27c93f;
          }
        }

        textarea {
          margin-top: 16px;
          width: 100%;
          height: 242px;
          max-width: 100%;
          max-height: 262px;
          resize: none;
          border: none;
          background-color: #141414;
          color: white;
          overflow-y: scroll;

          font-size: 14px;
          line-height: 18px;
        }

        textarea:focus {
          border: none;
          outline: none;
        }
      }
    }

    button {
      margin-top: 32px;
      width: 95%;
      height: 56px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      background-color: rgba(80, 129, 251, 0.08);
      border: none;
    }

    button:hover {
      background-color: rgba(80, 129, 251, 0.16);
    }

    button:active {
      border: 4px solid rgba(80, 129, 251, 0.24);
    }
  }

  .form {
    width: 22%;

    .inputs {
      margin: 0 12px 12px 28px;
      padding-right: 32px;

      > p {
        text-transform: uppercase;
        letter-spacing: 0.4em;
        font-size: 12px;
      }
      input,
      textarea,
      select {
        margin-top: 16px;
        width: 100%;
        border: none;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.16);
        font-size: 16px;
        line-height: 24px;
        text-indent: 16px;
      }

      input:hover,
      textarea:hover,
      select:hover {
        background-color: rgba(255, 255, 255, 0.24);
      }

      input {
        height: 56px;
        border-radius: 8px;
      }

      textarea {
        height: 80px;
        resize: none;
        margin-bottom: 40px;
      }

      select {
        height: 56px;
        text-indent: 8px;
        cursor: pointer;
      }

      input[type="color"] {
        border: none;
        padding: 8px;
        background-color: #ff5e5600;
        border: 1px solid #ffffff;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  form {
    .layout {
      width: 100%;
    }

    .form {
      width: 100%;

      .inputs {
        p {
          margin-top: 40px;
        }
        textarea {
          margin-bottom: 0;
        }
      }
    }

    .personalizacao-flex {
      display: flex;
      > select {
        margin-right: 8px;
        width: 50%;
      }
      > input {
        margin-left: 8px;
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  form {
    .layout {
      .background {
        .editor {
          width: 80%;
        }
      }
    }

    .personalizacao-flex {
      display: inherit;
      > select {
        margin-right: 0px;
        width: 100%;
      }
      > input {
        margin-left: 0px;
        width: 100%;
      }
    }
  }
}
