<section>
  <form>
    <div class="layout">
      <div class="background" [ngStyle]="{ background: color }">
        <div class="editor">
          <div class="terminal-dots">
            <div class="red"></div>
            <div class="yellow"></div>
            <div class="green"></div>
          </div>
          <textarea spellcheck="false">{{ editorPlaceholder }}</textarea>
        </div>
      </div>
      <app-button-outlined
        mensagem="Visualizar com highlight"
      ></app-button-outlined>
    </div>
    <div class="form">
      <section class="inputs">
        <p>Seu projeto</p>
        <input placeholder="Nome do seu projeto" />
        <textarea placeholder="Descrição do seu projeto"></textarea>

        <p>Personalização</p>
        <div class="personalizacao-flex">
          <select>
            <option value="JavaScript">JavaScript</option>
            <option value="CSS">CSS</option>
            <option value="TypeScript">TypeScript</option>
            <option value="HTML">HTML</option>
          </select>
          <input
            id="colorPicker"
            type="color"
            [value]="color"
            (change)="trocaCor(colorPicker.value)"
            #colorPicker
          />
        </div>
        <app-button-filled mensagem="Salvar projeto"></app-button-filled>
      </section>
    </div>
  </form>
</section>
